{% extends 'aplicacion/base.html' %}
{% load static %}
{% block cuerpo %}
<div class="container-fluid">
  <h1>Index Arte</h1>
  <div>
    <a href="{%url 'arte_add'%}">Agregar</a>
  </div>
  {% if articulos %}
    <table>
    {% for articulo in articulos %}
      <tr>
        <td>{{articulo.articulo}}</td>
        <td>{{articulo.estado.estado}}</td>
        <td><a href="{% url 'arte_edit' articulo.idArticulo%}">Editar</a></td>
      </tr>
    {% endfor%}
    </table>
  {% endif %}
</div>
{% endblock %}